## Copyright (C) 2012 - 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: tb-starter
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 12), genmkfile, ronn
Homepage: https://github.com/Whonix/tb-starter
Vcs-Browser: https://github.com/Whonix/tb-starter
Vcs-Git: https://github.com/Whonix/tb-starter.git
Standards-Version: 4.3.0

Package: tb-starter
Architecture: all
Depends: msgcollector, ${misc:Depends}
Recommends: tb-updater, tb-default-browser, open-link-confirmation,
 anon-icon-pack
Provides: torbrowser-launcher
Description: Tor Browser Starter (by Whonix developers)
 Starter.
 .
  - Tor Browser Starter start menu entry and /usr/bin/torbrowser
 starter. Starts /home/user/.tb/tor-browser/start-tor-browser.
 .
  - SecBrowser Starter start menu entry and /usr/bin/secbrowser
 starter. Starts /home/user/.secbrowser/secbrowser/start-tor-browser.
 .
 Integreation with hardened-malloc.
 .
  - Tor Browser: Hardneing opt-in.
 When config option tb_hardening=true is set or when using
 command line option --hardening, file
 /usr/lib/libhardened_malloc.so/libhardened_malloc.so
 will be added to LD_PRELOAD environment variable if available.
 .
  - SecBrowser: Hardening by default. File
 /usr/lib/libhardened_malloc.so/libhardened_malloc.so
 will be added to LD_PRELOAD environment variable if available.
 .
 Integration with firejail.
 .
  - Tor Browser: Hardening opt-in.
 When config option tb_hardening=true is set or when using
 command line option --hardening, firejail be used.
 .
  - SecBrowser: Hardening by default. Firejail will be used.
 .
 Security Slider.
 .
  - Tor Browser: Prompts to set security slider to default or maximum at first
 start
 .
  - SecBrowser: Sets security slider to maximum by default.
 .
 Uses open-link-confirmation if available.
 .
 Prompts to install the browser if not yet installed.
 .
 Changes directory into browser directly before startup.
 .
 Custom homepage support.
 .
 Qubes integration.
 .
 Sanity tests:
  - Aborts if detected being run as root.
  - Aborts in Qubes TemplateVM.
  - Aborts in Qubes DVM Template.
  - Waits for Qubes mount dirs and gui agent being ready.
  - Prevents a browser previously used as SecBrowser being used as Tor Browser.
 .
 In Qubes AppVM copies browser from root image to private image at first start.
 .
 This package is produced independently of, and carries no guarantee from,
 The Tor Project.
